<!-- DEPARTMENT INVENTORY OF FDG-IMS -->

<!-- EXTENDS CCS/ JS LINKS -->
{% extends 'Base_Template.html' %}

<!-- MAIN CONTENT OF ADMIN -->
{% block content %}

  <!-- INCLUDES SIDEBAR MENU -->
  {% include 'Sidebar.html' %}
    <script src="./dist/js/demo-theme.min.js?1692870487"></script>
    <div class="page">

      <div class="page-wrapper">

        <!-- INCLUDES HEADER -->
        {% include 'Header.html' %}

        <!-- PAGE BODY -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-lg-8">

                <!-- Table Card -->
                <div class="col-12">
                  <div class="card">
                    <div class="table-responsive">
                      <table
      class="table table-vcenter table-mobile-md card-table">
                        <thead>
                          <tr>
                            <th>SNo</th>
                            <th>Supplier Name</th>
                            <th>Phone Number</th>
                            <th>Actions</th>
                            <th class="w-1"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td data-label="SNo" >
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium">1</div>
                                </div>
                              </div>
                            </td>
                            <td data-label="Name" >
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium">Rex Publishing Inc.</div>
                                </div>
                              </div>
                            </td>
                            <td data-label="Phone Number" >
                              <div>+632 8857 7777</div>
                            </td>
                            <td>
                              <div class="btn-list flex-nowrap">
                                <a href="#" class="btn btn-primary">
                                  Edit
                                </a>
                                <a href="#" class="btn btn-danger">
                                  Delete
                                </a>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td data-label="SNo" >
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium">2</div>
                                </div>
                              </div>
                            </td>
                            <td data-label="Name" >
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium">St. Matthews</div>
                                </div>
                              </div>
                            </td>
                            <td data-label="Phone Number" >
                              <div>(02) 8573 2380</div>
                            </td>
                            <td>
                              <div class="btn-list flex-nowrap">
                                <a href="#" class="btn btn-primary">
                                  Edit
                                </a>
                                <a href="#" class="btn btn-danger">
                                  Delete
                                </a>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td data-label="SNo" >
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium">3</div>
                                </div>
                              </div>
                            </td>
                            <td data-label="Name" >
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium">Anvil Publishing Inc.</div>
                                </div>
                              </div>
                            </td>
                            <td data-label="Phone Number" >
                              <div>(02) 8477 4752</div>
                            </td>
                            <td>
                              <div class="btn-list flex-nowrap">
                                <a href="#" class="btn btn-primary">
                                  Edit
                                </a>
                                <a href="#" class="btn btn-danger">
                                  Delete
                                </a>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td data-label="SNo" >
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium">4</div>
                                </div>
                              </div>
                            </td>
                            <td data-label="Name" >
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium">UST Publishing House</div>
                                </div>
                              </div>
                            </td>
                            <td data-label="Phone Number" >
                              <div>+632 3406 1611</div>
                            </td>
                            <td>
                              <div class="btn-list flex-nowrap">
                                <a href="#" class="btn btn-primary">
                                  Edit
                                </a>
                                <a href="#" class="btn btn-danger">
                                  Delete
                                </a>
                              </div>
                            </td>
                          <tr>
                            <td data-label="SNo" >
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium">5</div>
                                </div>
                              </div>
                            </td>
                            <td data-label="Name" >
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium">Phoenix Publishing House</div>
                                </div>
                              </div>
                            </td>
                            <td data-label="Phone Number" >
                              <div>8375-1640</div>
                            </td>
                            <td>
                              <div class="btn-list flex-nowrap">
                                <a href="#" class="btn btn-primary">
                                  Edit
                                </a>
                                <a href="#" class="btn btn-danger">
                                  Delete
                                </a>
                              </div>
                            </td>
                          </tr>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
        

{% endblock content %}
